{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": [
    "airbnb-base", 
    "prettier"
  ],
   "globals": {
    "test": true,
    "window":true,
    "document" : true
  },
  "rules": {
      "prettier/prettier": "error",
      "no-console": 1,
      "import/extensions": "never",
      "linebreak-style": "off"
  }
}
